/* Disable Scrolling (when pressing spacebar) */
html, head, body {
	margin: 0;
	height: 100%;
	overflow: hidden;
}

p{
    color:white;
    font-family: Courier New, Courier, monospace;
    
}

body {
    background-color: #000000;
}

canvas {
    background-color: #222222;
}